html,body{
    width: 100%;
    height: 100%;
}
#themsv{
  display: none;
  margin-top: 10px;
}
label {
    width: 90px;
    display: inline-block;
    margin-bottom: 10px;
}
table {
    width: 500px;
    border-collapse: collapse;
}
#hienthi{
    margin-top: 10px;
}
#timsinhvien{
    margin-top: 10px;
    display: none;
}